@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Hakkımızda</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->


    <div class="page-content pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="about-text text-center mt-3">
                        <h2 class="title text-center mb-2">Biz Kimiz</h2><!-- End .title text-center mb-2 -->
                        <p>
                            EmEy Elektronik - Biz Kimiz?

                            EmEy Elektronik, elektronik dünyasının öncüsüdür. En yeni teknoloji ürünlerini sizlere sunuyoruz. Geniş ürün yelpazemizle, kalite ve güvenden ödün vermiyoruz. Sizlere en iyi alışveriş deneyimini sunma konusundaki kararlılığımızla buradayız.

                            Neden Biz?

                            Geniş Ürün Yelpazesi
                            Kalite Garantisi
                            Hızlı Teslimat
                            Güvenli Alışveriş
                            Profesyonel Destek
                            EmEy Elektronik'i tercih ettiğiniz için teşekkür ederiz. Daha fazla bilgi için bizimle iletişime geçmekte özgürsünüz.

                            Saygılarımla,
                            [Adınız]
                            EmEy Elektronik Kurucusu/CEO
                        </p>

                    </div><!-- End .about-text -->
                </div><!-- End .col-lg-10 offset-1 -->
            </div><!-- End .row -->

        </div><!-- End .container -->

        <div class="mb-2"></div><!-- End .mb-2 -->



        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="brands-text text-center mx-auto mb-6">
                        <h2 class="title">Dünyanın birinci sınıf tasarım markaları tek bir adreste.</h2><!-- End .title -->
                        <p>
                            İleri Teknoloji, Size Yakın

                            Günümüzde teknoloji, yaşam tarzımızın ayrılmaz bir parçası haline geldi. Akıllı telefonlar, bilgisayarlar ve diğer teknolojik ürünler, günlük hayatımızı kolaylaştırıyor, iletişimi hızlandırıyor ve eğlenceyi daha da zenginleştiriyor. Her gün gelişen teknoloji, size daha yakın. EmEy Elektronik ile bu dünyaya adım atın.
                        </p>
                    </div><!-- End .brands-text -->
                    <div class="brands-display">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="~/images/samsung.jpg" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="~/images/nikon.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="~/images/lenovo.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="~/images/reeder.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-md-3 -->

                        </div><!-- End .row -->
                    </div><!-- End .brands-display -->
                </div><!-- End .col-lg-10 offset-lg-1 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
