@{
	ViewData["Title"] = "SSS";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<main class="main">
	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">S.S.S</h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<br />


	<div class="page-content">
		<div class="container">
			<h2 class="title text-center mb-3">Nakliye Bilgisi</h2><!-- End .title -->
			<div class="accordion accordion-rounded" id="accordion-1">
				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading-1">
						<h2 class="card-title">
							<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
								Kargom nasıl teslim edilecek?
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
						<div class="card-body">
							Kargo Takibi: Siparişinizi tamamladıktan sonra, takip numaranızı kullanarak kargonuzun durumunu izleyebilirsiniz.

							Teslimat Adresi: Lütfen doğru teslimat adresi sağladığınızdan emin olun.

							Teslimat Tarihi: Teslimat tarihi, siparişinizin hız seçeneğine ve adresinize bağlı olarak değişebilir.

							Kargo Güvenliği: Kargonuzu teslim almadan önce dış ambalajını kontrol edin ve herhangi bir hasarı bildirin.

							Daha fazla bilgi veya soru için bizimle iletişime geçebilirsiniz. Teşekkür ederiz ki bizimle alışveriş yaptınız.

							Saygılarımla,
							[Şirket Adı] Müşteri Hizmetleri
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading-2">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
								Teslimat için ödeme yapıyormuyum?
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
						<div class="card-body">
							Teslimat için Ödeme Yok!

							Merhaba,

							Siparişlerinizin teslimatı için ayrı bir ücret ödemeniz gerekmez. [Şirket Adı] olarak, teslimat ücreti talep etmiyoruz. Sipariş verirken belirttiğiniz ürünlerin fiyatı, ödemeniz gereken toplam tutarı temsil eder.

							Basit ve net bir alışveriş deneyimi sunmayı taahhüt ediyoruz. Herhangi bir ek ücret ya da gizli maliyet söz konusu değil.

							Sorularınız varsa, lütfen bizimle iletişime geçin. Size yardımcı olmaktan mutluluk duyarız.

							Teşekkür ederiz ki bizimle alışveriş yaptınız.

							Saygılarımla,
							[Şirket Adı] Müşteri Hizmetleri
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading-3">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
								Gümrük ücreti ödeyecek miyim?
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
						<div class="card-body">
							Siparişlerinizin gümrük ücretleri veya ithalat vergileri içerebileceğini unutmayın. Bu ek maliyetler, siparişinizin toplam maliyetine dahil edilmeyebilir. Gümrük prosedürleri ve ödeme talimatları ülkenize göre değişebilir.

							Herhangi bir gümrük ücreti veya ithalat vergisi konusunda sorularınız varsa, lütfen yerel gümrük makamlarından bilgi alın. Size yardımcı olmak için buradayız.

							Teşekkür ederiz ki [Şirket Adı]'nin bir müşterisisiniz. İyi alışverişler dileriz.

							Saygılarımla,
							[Şirket Adı] Müşteri Hizmetleri
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading-4">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
								My item has become faulty
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
						<div class="card-body">
							Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->
			</div><!-- End .accordion -->

			<h2 class="title text-center mb-3">Siparişler ve İadeler</h2><!-- End .title -->
			<div class="accordion accordion-rounded" id="accordion-2">
				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading2-1">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1">
								Siparişimi takip ediyorum
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
						<div class="card-body">
							Siparişinizi takip etmek için lütfen verdiğiniz sipariş numarasını kullanın. Takip numaranızı [Şirket Adı] hesabınızda veya gönderilen e-postalarda bulabilirsiniz. Daha fazla bilgi veya yardım için müşteri hizmetlerimize ulaşın. İyi günler dileriz!
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading2-2">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
								Siparişim elime ulaşmadı
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
						<div class="card-body">
							Siparişiniz hala gelmediyse, lütfen sipariş takip numaranızı kullanarak kargo durumunu kontrol edin. Sorun devam ederse, müşteri hizmetlerimizle iletişime geçin. Yardımcı olmaktan mutluluk duyarız.
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading2-3">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">
								Bir ürünü nasıl iade edebilirim?
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
						<div class="card-body">
							Ürün iadesi yapmak isterseniz aşağıdaki adımları takip edebilirsiniz:

							İade Politikasını İnceleyin: İlk adım olarak, [Şirket Adı] web sitesi veya müşteri hizmetleri sayfasında iade politikasını inceleyin. İade süreleri, koşulları ve prosedürleri hakkında bilgi bulabilirsiniz.

							Müşteri Hizmetleri ile İletişime Geçin: İade yapmak istediğinizi belirtmek için [Şirket Adı] müşteri hizmetleri ile iletişime geçin. İletişim bilgilerini web sitesinde veya sipariş onayında bulabilirsiniz.

							İade Talebini Doldurun: Müşteri hizmetleri sizden iade talebinizi doldurmanızı isteyecektir. Bu talep genellikle sipariş numarası, ürün bilgileri ve iade nedeninizi içerir.

							İade Talimatlarını Takip Edin: Müşteri hizmetleri size iade talimatlarını iletecektir. Bu talimatları dikkatle takip edin ve ürünü iade edeceğiniz adrese gönderin.

							İadenin Onaylanması ve İade Ödemesi: İade işlemi onaylandığında ve ürün iade alındığında, iade ödemeniz yapılarak size iletilir.

							Ürün iadesi ile ilgili daha fazla ayrıntı ve prosedürler [Şirket Adı] web sitesinde bulunabilir. Herhangi bir sorunuz veya yardım gereksiniminiz varsa, lütfen müşteri hizmetleri ile iletişime geçmekten çekinmeyin.

							Teşekkür ederiz ki [Şirket Adı]'nin bir müşterisisiniz. İade işleminizi sorunsuz bir şekilde tamamlamanıza yardımcı olmak için buradayız.

							Saygılarımla,
							[Şirket Adı] Müşteri Hizmetleri
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->
			</div><!-- End .accordion -->

			<h2 class="title text-center mb-3">ÖDEME</h2><!-- End .title -->
			<div class="accordion accordion-rounded" id="accordion-3">
				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading3-1">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="false" aria-controls="collapse3-1">
								Hangi ödeme türlerini kullanabilirim?
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse3-1" class="collapse" aria-labelledby="heading3-1" data-parent="#accordion-3">
						<div class="card-body">
							Sipariş ödemenizi yaparken aşağıdaki ödeme türlerini kullanabilirsiniz:

							Kredi Kartı: Visa, MasterCard, American Express gibi yaygın kredi kartları ile ödeme yapabilirsiniz. Kart bilgilerinizi güvenli bir şekilde girmeniz için gerekli güvenlik önlemleri alınmıştır.

							Banka Kartı: Kredi kartı yerine banka kartınızı kullanarak ödeme yapabilirsiniz. Ödeme işlemi, banka kartınıza bağlı olan bir ödeme ağı geçidi aracılığıyla gerçekleşir.

							PayPal: PayPal hesabınızı kullanarak ödeme yapabilirsiniz. PayPal, güvenli ve hızlı bir ödeme seçeneği sunar.

							Nakit Ödeme: Bazı durumlarda nakit ödeme seçeneği sunulabilir. Bu, kargo teslimatı sırasında nakit olarak ödeme yapmanıza olanak tanır.

							Banka Havalesi/EFT: Banka havalesi veya EFT ile ödeme yapabilirsiniz. Ödeme talimatları ve hesap bilgileri, siparişinizi tamamladıktan sonra size iletilir.

							Lütfen ödeme türü seçeneklerinin sipariş sayfasında veya ödeme aşamasında gösterildiğinden emin olun. Ödeme türünü seçtikten sonra, ilgili bilgileri girmeniz ve işlemi tamamlamanız gerekecektir.

							Daha fazla bilgi veya yardım gereksinimi varsa, lütfen bizimle iletişime geçin. Size yardımcı olmaktan mutluluk duyarız.

							Teşekkür ederiz ki [Şirket Adı]'nin bir müşterisisiniz. İyi alışverişler dileriz!

							Saygılarımla,
							[Şirket Adı] Müşteri Hizmetleri
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading3-2">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2">
								Hediye kartı ile ödeme yapabilir miyim?
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
						<div class="card-body">
							Hediye kartınızı kullanarak ödeme yapabilirsiniz. Ödeme aşamasında "Hediye Kartı" seçeneğini seçip kart bilgilerinizi girin. İyi alışverişler!
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading3-3">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3">
								Ödeme yapamıyorum
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
						<div class="card-body">
							Ödeme yaparken sorun yaşıyorsanız, aşağıdaki adımları takip edebilirsiniz:

							Kart Bilgileri Kontrolü: Lütfen kredi kartı veya banka kartı bilgilerinizi dikkatlice kontrol edin. Kart numarası, son kullanma tarihi ve güvenlik kodu gibi bilgilerin doğru olduğundan emin olun.

							Kart Limiti: Ödeme yaparken kart limitinizin yeterli olduğundan emin olun. Bazı durumlarda, bankanızla iletişime geçerek kart limitinizi artırabilirsiniz.

							Kartın Aktif Olup Olmadığını Kontrol Edin: Kredi kartınızın veya banka kartınızın hâlâ aktif olup olmadığını kontrol edin. Geçerlilik süresi dolmuş olabilir.

							Başka Bir Kart Kullanın: Ödeme sorunları devam ederse, başka bir kredi kartı veya ödeme yöntemi deneyin. Farklı bir kartla ödeme yapmayı deneyin.

							Müşteri Hizmetleri İle İletişim: Sorun devam ederse, [Şirket Adı] müşteri hizmetleri ile iletişime geçin. Size yardımcı olmak için buradayız.

							Tarayıcı veya Uygulama Güncellemesi: Ödeme yapmadan önce tarayıcınızı veya uygulamanızı güncellemeniz gerekebilir.

							Ödeme Yöntemi Seçimi: Ödeme aşamasında doğru ödeme yöntemini seçtiğinizden emin olun. Kredi kartı, banka havalesi veya diğer seçenekleri kontrol edin.

							Herhangi bir sorunuz veya endişeniz varsa, lütfen bizimle iletişime geçmekten çekinmeyin. Sorununuzu çözmek için buradayız.

							Teşekkür ederiz ki [Şirket Adı]'nin bir müşterisisiniz. İyi alışverişler dileriz!

							Saygılarımla,
							[Şirket Adı] Müşteri Hizmetleri
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->

				<div class="card card-box card-sm bg-light">
					<div class="card-header" id="heading3-4">
						<h2 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-4" aria-expanded="false" aria-controls="collapse3-4">
								Ödemem gerçekleştimi?
							</a>
						</h2>
					</div><!-- End .card-header -->
					<div id="collapse3-4" class="collapse" aria-labelledby="heading3-4" data-parent="#accordion-3">
						<div class="card-body">
							Ödemenizin başarıyla gerçekleşip gerçekleşmediğini kontrol etmek için aşağıdaki adımları takip edebilirsiniz:

							Ödeme Onay Sayfası: Ödeme işleminizi tamamladıktan sonra, genellikle bir "Ödeme Onay" sayfasına yönlendirilirsiniz. Bu sayfada ödemenizin başarıyla gerçekleştiği onaylanır.

							E-posta Onayı: Ayrıca, ödeme işlemi sonrasında genellikle e-posta ile bir onay alırsınız. Bu e-posta ödemenizin detaylarını ve başarılı bir şekilde tamamlandığını teyit eder.

							Hesap Geçmişi: Eğer bir hesabınıza giriş yaparak ödeme yaptıysanız, hesap geçmişi veya sipariş geçmişi bölümünde ödeme durumunuzu kontrol edebilirsiniz.

							Banka Ekstresi: Kredi kartı veya banka kartı kullanarak ödeme yaptıysanız, ilgili bankanın mobil uygulaması veya online bankacılık sistemini kullanarak ödemenizin yansıyıp yansımadığını kontrol edebilirsiniz.

							Eğer bu adımları takip ederek ödeme onayı alamıyorsanız veya başka bir sorun yaşıyorsanız, lütfen [Şirket Adı] müşteri hizmetleri ile iletişime geçin. Size yardımcı olmaktan mutluluk duyarız.

							Teşekkür ederiz ki [Şirket Adı]'nin bir müşterisisiniz. Sorunlarınızı çözmek için buradayız.

							Saygılarımla,
							[Şirket Adı] Müşteri Hizmetleri
						</div><!-- End .card-body -->
					</div><!-- End .collapse -->
				</div><!-- End .card -->
			</div><!-- End .accordion -->
		</div><!-- End .container -->
	</div><!-- End .page-content -->

	<div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(assets/images/backgrounds/cta/bg-7.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9 col-xl-7">
					<div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
						<div class="col">
							<h3 class="cta-title">Daha Fazla Sorunuz Varsa</h3><!-- End .cta-title -->
							<p class="cta-desc">Bize ulaşabilirsiniz</p><!-- End .cta-desc -->
						</div><!-- End .col -->

						<div class="col-auto">
							<a href="/Anasayfa/Contact" class="btn btn-outline-primary"><span>İLETİŞİM</span><i class="icon-long-arrow-right"></i></a>
						</div><!-- End .col-auto -->
					</div><!-- End .row no-gutters -->
				</div><!-- End .col-md-10 col-lg-9 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End .cta -->
</main><!-- End .main -->