<footer class="footer">

    <div class="footer-middle bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about text-white">
                        <img src="~/proje/assets/images/demos/demo-4/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p class="text-white">
                            Türkiye'nin en büyük online alışveriş sitesi Siteİsmi, 2023 yılından bu yana hizmet veriyor. Siteİsmi, yenilikleri ile Türkiye'nin dijital alışveriş sektörüne yön veriyor.
                        </p>

                        <div class="widget-call">
                            <i class="icon-phone"></i>
                            Aklınıza takılan bir soru mu var?
                            <a href="tel:#">+0123 456 789</a>
                        </div><!-- End .widget-call -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title text-white">Kurumsal</h4><!-- End .widget-title -->

                        <ul class="widget-list text-white">
                            <li><a href="about.html">Siteİsmi Hakkında</a></li>
                            <li><a href="#">Hizmetlerimiz</a></li>
                            <li><a href="#">Kişisel Verilerin Korunması</a></li>
                            <li><a href="faq.html">S.S.S</a></li>
                            <li><a href="contact.html">İletişim</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title text-white">Müşteri Hizmetleri</h4><!-- End .widget-title -->

                        <ul class="widget-list text-white">
                            <li><a href="#">Ödeme Yöntemleri</a></li>
                            <li><a href="#">Satın alınan ürünle ilgili talepler</a></li>
                            <li><a href="#">İptal ve iade</a></li>
                            <li><a href="#">Teslimat ve kargo</a></li>
                            <li><a href="#">Güvenli Alışveriş Kılavuzu</a></li>
                            <li><a href="#">Bilgi Güvenliği Politikası</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title text-white">Hesabım</h4><!-- End .widget-title -->

                        <ul class="widget-list text-white">
                            <li><a href="#">Giriş Yap</a></li>
                            <li><a href="cart.html">Sepeti Görüntüle</a></li>
                            <li><a href="#">Favoriler</a></li>
                            <li><a href="#">Siparişlerim</a></li>
                            <li><a href="#">Yardım</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="~/proje/assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer>