@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model ProductViewModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Name Düzenleme</h4>
                        <form class="forms-sample" asp-action="ProductDetails" asp-controller="Admin" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="ThumbnailImage" />
                            <input type="hidden" asp-for="ContentImage" />
                            <input type="hidden" asp-for="ContentImage2" />
                            <input type="hidden" asp-for="ContentImage3" />
                            <input type="hidden" asp-for="ContentImage4" />
                            <input type="hidden" asp-for="Brand" />
                            <input type="hidden" asp-for="CategoryId" />
                            <div class="form-group">
                                <label asp-for="Name">Ürün Adı</label>
                                <input type="text" asp-for=Name class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Açıklama</label>
                                <textarea type="email" class="form-control" asp-for="Description" rows="15" placeholder="Açıklama"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Fiyat</label>
                                <input type="text" class="form-control" asp-for=Price placeholder="Fiyat">
                            </div>
                            <div class="form-group">
                                <label asp-for="Stock">Stok Adeti</label>
                                <input type="text" class="form-control" asp-for=Stock placeholder="Stok">
                            </div>
                            <div class="form-group">
                                <label>Kapak Resmi</label>
                                <input asp-for="ThumbnailImage" class="form-control" type="file" name="formFile" />
                                <div class="input-group col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>İçerik Resmi 1</label>
                                <input asp-for="ThumbnailImage" class="form-control" type="file" name="formFile2" />
                                <div class="input-group col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>İçerik Resmi 2</label>
                                <input asp-for="ThumbnailImage" class="form-control" type="file" name="formFile3" />
                                <div class="input-group col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>İçerik Resmi 3</label>
                                <input asp-for="ThumbnailImage" class="form-control" type="file" name="formFile4" />
                                <div class="input-group col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>İçerik Resmi 4</label>
                                <input asp-for="ThumbnailImage" class="form-control" type="file" name="formFile5" />
                                <div class="input-group col-xs-12">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Devam</button>
                            <button class="btn btn-dark">İptal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


